main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 22px;
}

.text-container {
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
