<footer>
  <div>
    <a href="/">
      <img src="/public/logo-texto.png?as=webp" alt="Icono de película" width="40">
    </a>
    <nav class="social">
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <p>Sitio fan de la serie Cómo conocí a vuestra madre por Miguel Ángel Berenguer Alcaine</p>
</footer>