<header>
  <a href="/">
    <img src="/public/himym.png" alt="Icono de película" width="40" height="28">
  </a>
  <nav>
    <ul>
      <li>
        <a href="/src/index.html">Inicio</a>
      </li>
      <li>
        <a href="./capitulos.html">Episodios</a>
      </li>
      <li>
        <a href="#">Personajes y reparto</a>
      </li>
      <li>
        <a href="#">Galería</a>
      </li>
      <li>
        <a href="./info.html">Sobre la página</a>
      </li>
      <li>
        <a href="./enlaces.html">Enlaces</a>
      </li>
    </ul>
  </nav>
</header>